div
  h1 Admin Panel

  
  div(id='content')
    div(class='sidebar')
      .divh
          form(ng-submit='addItem(tree.currentNode)')
            input(type="text" ng-model="search" class="search-query" placeholder="Search")
      .divbar(style="float:bottom;width:auto", data-angular-treeview='true',
        data-tree-id='tree',
        data-tree-model='list',
        data-tree-search = 'search',
        data-node-id='id',
        data-node-label='name',
        data-node-children='children')
    div(class='sidebar')
      form(ng-submit='create(tree.currentNode)')
        input(class='btn-primary' type='submit' value='Create')
      form(ng-submit='editItem(tree.currentNode)')
        input(class='btn-primary' type='submit' value='Edit')
      form(ng-submit='deleteItem(tree.currentNode)')
        input(class='btn-danger' type='submit' value='Delete')
    div(class='main' ng-hide='mode==0')
      form(ng-submit='submit()' )
        div
          label ID:
          input(type="text" ng-model='id' ng-disabled="true")
          label Name:
          input(type="text" placeholder="name" ng-model='name')
          label Folder?
          select(name="folder" ng-model='folder' ng-options='b for b in [true,false]' ng-disabled='mode==0')
          div(ng-hide="folder")
            label Description:
            input(type="text" placeholder="description" ng-model='desc')
            label Cost:
            input(type="text" placeholder="$0.00" ng-model='cost')
        input(class='btn-primary' type='submit' value='OK' ng-disabled='mode==0')
        
      
      
      
      