div
    div
      .divbar(style="float:top")
        .divh
          form(ng-submit='addItem(tree.currentNode)')
            input(type="text" ng-model="search" class="search-query" placeholder="Search")
            span(style="display:inline-block; width: 10px")
            input(class='btn-primary' type='submit' value='+')
      .divbar(style="float:bottom;width:auto", data-angular-treeview='true',
        data-tree-id='tree',
        data-tree-model='list',
        data-tree-search = 'search',
        data-node-id='id',
        data-node-label='name',
        data-node-children='children')
    table
      tr
        th
        th 
          p(align='left', margin='2px') Name
        th 
          p(align='left', margin='2px') Description
        th 
          p(align='right', margin='2px') Cost
        th 
          p(align='right', margin='2px') Quantity 
        th
          p(align='right') Total
      tr(ng-repeat='item in basket')
        td
          div
            form(ng-submit='removeItem(item)')
              input(class='btn-primary' type='submit' value='-')
        td
          {{item.name}}
        td
          {{item.desc}}
        td
          {{item.cost.formatMoney(2,'.',',')}}
        td 
          div
            input.right(type='text',maxlength='5', number-mask='', ng-model='item.quantity')
        td.right
          {{(item.cost*item.quantity).formatMoney(2,'.',',')}}
      tr
        td
        td 
        td 
        td 
        td 
        td.right
          div {{total()}}
      tr
        td
        td
        td
        td
        td
        td.right
          form(ng-submit='saveBudget()')
            input(class='btn-primary' type='submit' value='Save')  